<div class="main-page">

  <section class="uploaded-image-block">
    <div class="uploaded-image-block__wrapper">
      <img [src]="preview" class="uploaded-image-block__wrapper__img"
           [ngStyle]="{'width.px':width, 'height.px':height, 'bottom.px':bottom, 'right.px':right,
           'margin-top.px': +locationX, 'margin-left.px': +locationY}"
           [ngClass]="{'animatedOne':animatedOne, 'animatedTwo':animatedTwo, 'animatedThree':animatedThree}">
    </div>
  </section>

  <section class="upload-image-block">
    <div class="upload-image-block__add-photo">
      <label for="addPhoto">
        <span>Add photo</span>
      </label>
      <input id="addPhoto" type="file" accept="image/*" (change)="selectFile($event)"/>
    </div>

    <div class="upload-image-block__animation-list">
      <label for="animation-list">
        <span class="label-desc">Choose animation</span>
      </label>
      <select id="animation-list">
        <option (click)="clickAnimationOne()">Animated One</option>
        <option (click)="clickAnimationTwo()">Animated Two</option>
        <option (click)="clickAnimationThree()">Animated Three</option>
      </select>
    </div>

    <div class="upload-image-block__save-html">
      <button type="button" (click)="showAllHtml()">Show All HTML</button>
      <button type="button" (click)="showImgBlockHtml()">Show Upload Image Block HTML</button>
    </div>

    <div class="upload-image-block__change-photo">
      <span>Change size photo</span>
      <div>
        <label for="x">X</label>
        <input (change)="imageHeight()" name="x" id="x" type="range" min="200" max="400" step="1">
      </div>
      <div>
        <label for="y">Y</label>
        <input (change)="imageWidth()" name="y" id="y" type="range" min="200" max="400" step="1">
      </div>
     </div>

      <div class="upload-image-block__location-photo">
        <span>Photo location</span>
        <div>
          <label for="xLocation">X</label>
          <input (change)="imageLocationX()" id="xLocation" type="range" min="-100" max="100" value="0" step="1">
        </div>
        <div>
          <label for="yLocation">Y</label>
          <input (change)="imageLocationY()" id="yLocation" type="range" min="-100" max="100" value="0" step="1">
        </div>
      </div>
  </section>

</div>
